<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="/assets/js/script-bundle.js"></script>

  {% include "components/metatags.njk" %}

  {% include "components/favicons.html" %}
  
  {% if metadata.pwa %}
    <script>
      if ("serviceWorker" in navigator)
        navigator.serviceWorker.register("/service-worker.js");
    </script> 
  {% endif %}

  {% if metadata.debug %}
    <style>
      .debug {
        font-size:0.75rem;
        position:fixed;
        bottom:1rem;
        right: 1rem;
        background: #000;
        padding: 1rem;
        color: #fff;
        opacity:0.1;
      }
      .debug:hover {
        opacity:1;
      }
    </style>

	{% endif %}
</head>
