---
layout: layouts/base.njk
section: home
---

{{ layoutContent | safe }}

<section>
    <h3>Image filter</h3>
    {{ '1400x800.png' | image() | safe }}
</section>
<section>
    <h3>Picture filter</h3>
    {{ '1400x800.png' | picture | safe }}
</section>

